* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*!variables*/
/*!div_wrap*/
.wrap {
  min-height: 100vh;
}

/*!section flex__one*/
.background {
  background-image: linear-gradient(45deg, black 0%, gold 100%);
  background-size: cover;
  min-height: 200px;
}

.flex__one {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex__one .logo {
  font-family: cursive;
  padding: 20px 0 0 100px;
  width: 50%;
  color: gold;
}

@media (max-width: 1200px) {
  .flex__one .logo {
    padding: 20px 0 0 90px;
    width: 35%;
  }
}

@media (max-width: 1024px) {
  .flex__one .logo {
    padding: 20px 0 0 80px;
    width: 30%;
  }
}

@media (max-width: 800px) {
  .flex__one .logo {
    padding: 20px 0 0 70px;
    width: 20%;
  }
}

@media (max-width: 640px) {
  .flex__one .logo {
    padding: 20px 0 0 30px;
    width: 15%;
  }
}

.flex__one .menu {
  width: 50%;
}

@media (max-width: 1200px) {
  .flex__one .menu {
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
}

@media (max-width: 1024px) {
  .flex__one .menu {
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    margin-left: 10px;
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
}

@media (max-width: 800px) {
  .flex__one .menu {
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
}

@media (max-width: 640px) {
  .flex__one .menu {
    width: 70%;
  }
}

.flex__one .menu .menu__list {
  list-style-type: none;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .flex__one .menu .menu__list {
    padding: 10px 0 0 10px;
  }
}

.flex__one .menu .menu__list .menu__link {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 20px 20px 0 20px;
  margin: 0 5px 0;
  transition: all 1s;
}

@media (max-width: 1024px) {
  .flex__one .menu .menu__list .menu__link {
    padding: 5px 10px;
  }
}

@media (max-width: 800px) {
  .flex__one .menu .menu__list .menu__link {
    padding: 10px 0 0 10px;
  }
}

@media (max-width: 640px) {
  .flex__one .menu .menu__list .menu__link {
    padding: 10px 0 5px;
  }
}

.flex__one .menu .menu__list .menu__link:hover {
  color: cadetblue;
}

.flex__one .header {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin: 10px 0;
}

.header__welcome {
  font-family: cursive;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-top: 10px;
}

.header__nice {
  font-family: cursive;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 10px 0;
}

@media (max-width: 1024px) {
  .header__nice {
    font-size: 2.5em;
  }
}

@media (max-width: 800px) {
  .header__nice {
    font-size: 2.2em;
  }
}

@media (max-width: 640px) {
  .header__nice {
    font-size: 2em;
  }
}

.header__link {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.header__link .btn {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px 20px 10px;
  background-color: cadetblue;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #fff;
  transition: all 1s;
}

@media (max-width: 1024px) {
  .header__link .btn {
    margin-top: 8px;
    font-size: .9em;
  }
}

@media (max-width: 800px) {
  .header__link .btn {
    margin-top: 3px;
    font-size: .9em;
  }
}

@media (max-width: 640px) {
  .header__link .btn {
    margin-top: 5px;
    font-size: .8em;
  }
}

.header__link .btn:hover {
  color: #000;
  background-color: #fff;
}

/*!section flex__two*/
.flex__two {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.flex__two .services {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.flex__two .services__welcome {
  text-transform: uppercase;
  padding: 10px 0;
}

@media (max-width: 1024px) {
  .flex__two .services__welcome {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .flex__two .services__welcome {
    font-size: 15px;
  }
}

@media (max-width: 640px) {
  .flex__two .services__welcome {
    font-size: 14px;
  }
}

.flex__two .services__proin {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 20px;
  text-align: center;
  font-family: cursive;
}

@media (max-width: 1024px) {
  .flex__two .services__proin {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .flex__two .services__proin {
    font-size: 13px;
  }
}

@media (max-width: 640px) {
  .flex__two .services__proin {
    font-size: 12px;
  }
}

.flex__two .commerce {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 40px;
}

.flex__two .commerce .fas {
  text-align: center;
  border: 2px solid gold;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: gold;
}

@media (max-width: 1024px) {
  .flex__two .commerce .fas {
    font-size: 28px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

@media (max-width: 800px) {
  .flex__two .commerce .fas {
    font-size: 27px;
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
}

@media (max-width: 640px) {
  .flex__two .commerce .fas {
    font-size: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

.flex__two .commerce__welcome {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 1024px) {
  .flex__two .commerce__welcome {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .flex__two .commerce__welcome {
    font-size: 15px;
  }
}

@media (max-width: 640px) {
  .flex__two .commerce__welcome {
    font-size: 14px;
  }
}

.flex__two .commerce__proin {
  font-family: cursive;
}

@media (max-width: 1024px) {
  .flex__two .commerce__proin {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .flex__two .commerce__proin {
    font-size: 13px;
  }
}

@media (max-width: 640px) {
  .flex__two .commerce__proin {
    font-size: 12px;
  }
}

/*!section flex__three*/
.flex__three {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

.flex__three .portfolio {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.flex__three .portfolio__welcome {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-transform: uppercase;
  padding: 10px 0;
}

@media (max-width: 1024px) {
  .flex__three .portfolio__welcome {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .flex__three .portfolio__welcome {
    font-size: 15px;
  }
}

@media (max-width: 640px) {
  .flex__three .portfolio__welcome {
    font-size: 14px;
  }
}

.flex__three .portfolio__proin {
  font-family: cursive;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .flex__three .portfolio__proin {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .flex__three .portfolio__proin {
    font-size: 13px;
  }
}

@media (max-width: 640px) {
  .flex__three .portfolio__proin {
    font-size: 12px;
  }
}

.flex__three .bony {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 20px 40px;
  text-align: center;
}

.flex__three .bony__image {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex__three .bony__welcome {
  padding-top: 10px;
}

@media (max-width: 1024px) {
  .flex__three .bony__welcome {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .flex__three .bony__welcome {
    font-size: 15px;
  }
}

@media (max-width: 640px) {
  .flex__three .bony__welcome {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .flex__three .bony__print {
    font-size: 15px;
  }
}

@media (max-width: 800px) {
  .flex__three .bony__print {
    font-size: 13px;
  }
}

@media (max-width: 640px) {
  .flex__three .bony__print {
    font-size: 12px;
  }
}

/*!footer*/
.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 0;
}

.footer__copy {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-left: 90px;
  font-size: .8rem;
}

@media (max-width: 1024px) {
  .footer__copy {
    margin-left: 10px;
    font-size: 0.9em;
  }
}

@media (max-width: 640px) {
  .footer__copy {
    margin-left: 5px;
    font-size: .7em;
  }
}

.footer__icons {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.footer__icons .fas, .footer__icons .fab {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #000;
  color: #fff;
}

@media (max-width: 1024px) {
  .footer__icons .fas, .footer__icons .fab {
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .footer__icons .fas, .footer__icons .fab {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 17px;
  }
}

@media (max-width: 640px) {
  .footer__icons .fas, .footer__icons .fab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */